.banner {
  position: relative;
  height: 600px;
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: 150px;
  overflow: hidden;
  color: white;
}

.logo__banner {
  left: -17rem;
  position: absolute;
  top: -70rem;
  width: 171rem;
}

.text__banner {
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
}

.text__banner h2 {
  font-size: 3.5em;
  margin-bottom: 8px;
}

.banner__links, .nav__links{
  display: flex;
  column-gap: 16px;
  align-items: center;
  font-family: 'Ubuntu';
}

.banner__links {
  margin-top: 32px;
}
