.container {
  height: 1000px;
  color: #254766;
  padding: 9em 0 0 9em;
}
.container h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 32px;
  width: 90%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 37em;
  justify-content: center;
}
.container img {
  position: absolute;
  top: 42em;
  right: -17em;
}
.paragraph{
  max-width: 49%;
  margin-bottom: 64px;
}

.paragraph h3 {
  font-size: 28px;
  margin-bottom: 32px;
}
 .paragraph p {
   color: hsl(240, 1%, 52%);
 }
